p {
    margin: 0;
    line-height: 1.05rem;
    margin-bottom: 5px;
}

div {
    color: white;
}

.day-time-separator {
    mix-blend-mode: difference;
    position: absolute;
    height: 60%;
    top: 20%;
    border-left: 1px solid rgba(160, 160, 160, 40%);
    z-index: 1;
}

.hours-height-container {
    height: 50px;
    background-color: #666;
}

.day-name-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: bold;
    padding: 10px;
}

.hour-name-container {
    display: flex;
    justify-content: left;
    align-items: center;
    border-left: 1px solid #111;
    position: absolute;
    padding-left: 7px;
    height: 100%;
    padding-bottom: 2px;
}

.day-content-container {
    background-color: #333;
    flex-grow: 1;
    margin-bottom: 10px;
    position: relative;
}

.day-event {
    position: absolute;
    height: 100%;
    background-color: #777;
    overflow-y: auto;
    overscroll-behavior-y: none;
}

.day-event-content {
    padding: 5px;
    padding-top: 9px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
}

.day-event-title {
    font-weight: bold;
    font-size: small;
    flex-shrink: 0;
}

.day-event-description {
    font-size: smaller;
    flex-shrink: 0;
}

.day-event-hours {
    font-size: smaller;
}

#main-container {
    height: 100%;
    overflow-y: hidden;
    min-height: 500px;
}

#days-container {
    background-color: #444;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#day-content-containers {
    padding: 10px;
    padding-bottom: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#day-name-containers {
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#hours-container {
    background-color: #111;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 800px;
}

#hour-names-container-container {
    padding: 10px;
}

#hour-names-container {
    position: relative;
    height: 100%;
}